:root {
	--green-color: #bbf330;
	--dark-green-color: #7eb101;
	--yellow-main: #ffe550;
	--black-color: #2c2c2c;
	--white-color: #fefefe;
	--shadow-fruit-color: radial-gradient(50% 50% at 50% 50%, #2f583f 0%, rgba(105, 105, 105, 0) 100%);
	--main-font-family: "Roboto", sans-serif;
	--hero-title-font-size:48px;
	--title-font-weight:700;
	--title-line-height:1.2;
	--secondary-title-font-size:42px;
	--third-title-font-size:18px;
	--secondary-line-height:1.4;
	--main-text-font-size:16px;
	--secondary-text-size:14px;
	--text-font-weght:500;
	--buttom-font-size:13px;
	--buttom-font-wieght:500;
	--text-line-height:1.5;
	--main-text-font-weight:400;
	

	
	
}
body {
	font-family: var(--main-font-family);
	color: var(--black-color);
	background-color: var(--white-color);
	font-weight: var(--main-text-font-weight);
	font-size: var(--main-text-font-size);
	line-height: var(--text-line-height);
}
h1,
h2,
h3,
h4,
p,
ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
}
ul,
ol {
	padding-left: 0;
}
.button {
	cursor: pointer;
	border: none;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.link {
	text-decoration: none;
}
.list {
	list-style: none;
	display: flex;
}
.container {
	width: 1280px;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;
}
.button {
	padding: 6px 18px;
	font-weight: var(--buttom-font-wieght);
	font-size: var(--buttom-font-size);
	border-radius: 30px;
	min-width: 98px;
	height: 32px;
	padding: 6px 18px;
}
.green-button {
	background-color: var(--green-color);
}
.green-button:hover,
.green-button:focus {
	background-color: var(--yellow-main);
}
.light-button {
	background-color: var(--white-color);
	border: 2px solid var(--dark-green-color);
}
.offering .light-button:hover,
.offering .light-button:focus {
	background-color: var(--green-color);
	border: none;
}
.subscribe-form .light-button:hover,
.subscribe-form .light-button:focus {
	border: 2px solid var(--yellow-main);
}
.top {
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}
.top .container {
	display: flex;
	align-items: center;
}
.top-navigation {
	margin-left: auto;
	margin-right: 30px;
}
.navigation-item:not(:last-child) {
	margin-right: 28px;
}
.navigation-link {
	padding-top: 28px;
	padding-bottom: 28px;
	color: var(--black-color);
	font-size: var(--secondary-text-size);
	line-height: var(--secondary-line-height);
}
.navigation-link:hover,
.navigation-link:focus {
	color: var(--green-color);
	text-decoration-line: underline;
	font-weight: var(--title-font-weight);
}
.hero {
	padding-top: 27px;
	padding-bottom: 27px;
}
.hero .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hero-image{
	border: 14px solid var(--yellow-main);
	border-radius: 250px;
	padding: 11px;
}
.hero-left {
	max-width: 515px;
}
.hero-title {
	font-weight: var(--title-font-weight);
	font-size: var(--hero-title-font-size);
	line-height: var(--title-line-height);
	margin-bottom: 28px;
}
.hero-left .main-text {
	margin-bottom: 46px;
}
.offering,
.reviews {
	background-color: var(--yellow-main);
	padding-top: 100px;
	padding-bottom: 100px;
}
.offering .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.offering-image-block{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width:550px;
	height: 550px;
	padding: 24px;
	border-radius: 50%;
	background-color: var(--white-color);
	border: 24px solid var(--yellow-main);
	outline: 5px solid var(--white-color);
	
}
.offering-right {
	max-width: 537px;
}
.secondary-title {
	font-weight: var(--title-font-weight);
	font-size: var(--secondary-title-font-size);
	line-height: var(--title-line-height);
	margin-bottom: 20px;
}
.offering .main-text {
	margin-bottom: 40px;
}
.offering-list {
	margin-bottom: 58px;
}
.offering-icon-block{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	background-color: var(--white-color);
	border-radius: 50%;
	margin-bottom: 8px;
}
.offering-item:not(:last-child) {
	margin-right: 67px;
}
.offering-item-title {
	font-weight: var(--title-font-weight);
	font-size: var(--third-title-font-size);
	line-height: var(--secondary-line-height);
	margin-bottom: 16px;
}
.offering-item-text {
	font-size: var(--secondary-text-size);
}
.favorites {
	padding-top: 100px;
	padding-bottom: 100px;
}
.favorites .secondary-title,
.favorites .expl-text {
	text-align: center;
}
.expl-text {
	line-height: var(--title-line-height);
	margin-bottom: 36px;
}
.favorites-list {
	flex-wrap: wrap;
	gap: 32px;
	
	
}
.favorites-item img{
	border-radius: 250px;
	border: 16px solid var(--yellow-main);
	padding: 24px;
}
.reviews .expl-text {
	margin-bottom: 32px;
}
.reviews-list {
	flex-wrap: wrap;
	gap: 140px;
}
.reviews-icon-block{
	margin-bottom: 28px;
}
.reviews-card {
	max-width: 501px;
	background-color: var(--white-color);
	padding: 14px;
	border-radius: 0 15px 15px 15px;
}
.reviews-card-text {
	font-weight: var(--title-font-weight);
	font-size: var(--third-title-font-size);
	line-height: var(--title-line-height);
	margin-bottom: 40px;
}
.reviews-sign {
	display: flex;
	gap: 16px;
}
.reviews-sign:after{
	content: "";
	height: 52px;
	width: 1px;
	background-color: var(--dark-green-color);
}
.subtitle {
	font-weight: var(--text-font-weght);
	font-size: var(--secondary-text-size);
	margin-bottom: 2px;
}
.reviews-card-person-discription {
	font-size: var(--secondary-text-size);
}
.subscribe{
	padding-top: 100px;
	padding-bottom: 100px;
}
.subscribe .container{
	display: flex;
	justify-content: space-between;
}
.subscribe-left{
	max-width: 656px;
}
.subscribe-text{
	margin-bottom: 34px;
}
.hiden{
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.bacement{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: var(--white-color);
	box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
	background-image: url(../images/footer/fruit-futer.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
}
.logo-link{
	margin-right: 148px;
}
.bacement-top-part{
	display: flex;
	margin-bottom: 80px;
	
}
.footer-navigation-list{
	align-items: top;
}
.bacement-menu{
	display: flex;
	align-items: center;
}
.bacement-subscribtion{
	margin-left: auto;
}
.basement-subtitle{
	margin-bottom: 12px;
}
.subscribe-form{
	margin-bottom: 12px;
}
.bacement-subscribtion-policy-link, .copy-wright-link{
	color: var(--dark-green-color);
	text-decoration: underline;
}
.basement-lower-part{
	display: flex;
	justify-content: space-between;
	
}
.copy-wright-list{
	gap: 20px;
}

